@import "../../styles/variables.scss";

.applications {
  &__trigger {
    width: 100%;
    padding: map-get($spacing, md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: map-get($colors, gray-600);
    border-radius: 8px;

    &:hover {
      background: map-get($colors, gray-50);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
